<br>
<div>
    <ul>
        <li>{{this.args}}</li>
        <li>{{this.OS}}</li>
        <li>{{this.nodeV}}</li>
        <li>{{this.memUse}}</li>
        <li>{{this.path}}</li>
        <li>{{this.pId}}</li>
    </ul>
</div>