{{>nav}}


<main style="flex; flex-wrap: 10px;">
	<a href="/products/new" class="text-success fw-bold no-underline">Agregar Producto</a>
	<h1>Productos</h1>
	<section class="">
		{{#if category}}
			<h2 class="text-blue-300 fw-bold">Categoría: {{category}}</h2>
		{{/if}}
		<ul class="d-flex flex-wrap list-unstyled">
			{{#each products}}
			<li class="p-4 border">
				<a href="/products/{{this._id}}" class="text-blue-300 fw-bold no-underline">
					{{this.title}}
				</a>
				<p class="text-gray-500">Stock: {{this.stock}}</p>
				<p class="text-gray-500">Precio: ${{this.price}}</p>
				<img src="{{this.image}}" alt="" class="w-30 h-30 object-contain" width="200" height="200">
			</li>
			{{/each}}
		</ul>

	</section>

</main>