{{>nav}}

<main class="m-4 relative h-max">
	<a href="/products/update/{{{product.id}}}" class="text-blue-500 fw-bold hover:text-blue-700">Modificar Producto</a>
	<a href="/products/delete/{{{product.id}}}" class="text-danger fw-bold hover:text-red-700">Eliminar Producto</a>
	
	<h1>{{product.title}}</h1>
	<div class="container p-0 mb-3">
		<img src="{{product.image}}" alt="" height="200" width="200">
	</div>

	<section class="">
		<span class="my-3">
			Precio: <strong>${{product.price}}</strong>
		</span>
	</section>

	<form method="post" action="/products/{{product.id}}">
		<input type="number" min="1" value="1" name="quantity" class="rounded h-10 p-2 w-12 mr-2">
		<button type="submit" class="bg-green-600 px-3 py-2 rounded my-3 text-white hover:bg-green-500 h-10 ">
			Agregar al carrito
		</button>
	</form>

</main>